<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:text="${movie}"></title>
	</head>
	<body>
		<h1 th:text="|Best movies of 2021: ${movie}|"></h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut molestie augue sit amet dolor ornare, at lacinia dolor posuere. Donec tempus posuere malesuada. Morbi tempor semper magna, vitae molestie velit maximus in. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent ac augue volutpat, tempor odio sit amet, luctus lorem. Donec rutrum augue non sem consectetur auctor. Donec vitae quam nunc. Nulla eu tincidunt metus, at gravida mi. Integer blandit elit at diam eleifend, in pharetra felis pharetra. In non molestie massa. Donec velit massa, feugiat non ex eget, iaculis iaculis lectus.</p>
	</body>
</html>